.sidebarBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #5F35F5;
    height: 100vh;
    align-items: center;
   
}
.img_box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: tomato;
    overflow: hidden;
}
.img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logout{
    padding: 15px 50px;
    background-color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: #5F35F5;
    font-size: 22px;
}
.navigation{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.navigation li a{
    color: white;
    padding: 15px 65px;
    display: inline-block;
    border-radius: 20px;
}
.navigation li a svg{
    font-size: 50px;
}
.navigation li a.active{
    background-color: white;
    color: #5F35F5;
}
.username{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.userimgbox{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    overflow: hidden;
}
.userimgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_box .overlay{
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.238) ;
    width: 100%;
    transition: all linear 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.img_box .overlay svg{
    color: aliceblue;
    font-size: 30px;
}

.img_box:hover .overlay{
  bottom: 0;
}
.imgholder{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}
.imgholder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
